*
!*.c
!*.cc
!*.h
!makefile
!includes
!*.md
!.vscode
!.vscode/*
!design_pattern
!*.png
!effective_modern_cpp
!data_struct_reference/
!data_struct_reference/enumstring*
!readme.txt
!metaprogramming
!thread_poll
